@model labRecurso.Models.Avalicao

<h4>Avalicao</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Avaliar">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <input asp-for="JogoId" class ="form-control" type="hidden" value="ViewBag.JogoId"/>
            </div>
            <div class="form-group">
                <input asp-for="Name" type="hidden" value="@User.Identity.Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="pontuacao" class="control-label"></label>
                <input asp-for="pontuacao" class="form-control" />
                <span asp-validation-for="pontuacao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
